
Software Packages/.vs/Software Packages/DesignTimeBuild/.dtbcache.v2
Software Packages/.vs/Software Packages/v17/.futdcache.v1
Software Packages/.vs/Software Packages/v17/.suo
Software Packages/Software Packages/obj/Debug/net6.0-windows/Software Packages.assets.cache
Software Packages/Software Packages/obj/Debug/net6.0-windows/Software Packages.csproj.AssemblyReference.cache
Software Packages/Software Packages/obj/Debug/net6.0-windows/Software Packages.designer.runtimeconfig.json
Software Packages/Software Packages/obj/Debug/net6.0-windows/Software Packages.GeneratedMSBuildEditorConfig.editorconfig
Software Packages/Software Packages/obj/project.nuget.cache
Software Packages/Software Packages/obj/Software Packages.csproj.nuget.g.props
Software Packages/Software Packages/obj/project.assets.json
Software Packages/Software Packages/obj/Software Packages.csproj.nuget.dgspec.json
Software Packages/Software Packages/obj/project.assets.json
